<ion-header>
  <ion-toolbar>
    <ion-title class="centered-title">ORÇA-FáCIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="centered-image">
    <img src="assets/img/logo.png" alt="Imagem Central" />
  </div>

  <h2>Bem-vindo ao Orça-Fácil</h2> <!-- Título centralizado -->

  <div class="bottom-buttons">

    <ion-button expand="full" routerLink="/novo-orcamento">
      Novo Orçamento
    </ion-button>

    <ion-button expand="full" routerLink="/orcamento">
      Orçamentos
    </ion-button>

    <ion-button expand="full" class="custom-button" routerLink="/andamento">
      Em Andamento
    </ion-button>

    <!-- Botão de saída (Logout) -->
    <ion-button expand="full" color="danger" routerLink="/login">
      Sair
    </ion-button>

  </div>
</ion-content>
